.admin-login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f5f6fa;
  font-family: Arial, sans-serif;
}

.admin-login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.admin-login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.admin-login-container input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.LoginAdmin{
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #8000ff, #c600ff);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.admin-login-container .LoginAdmin:hover {
  background-color: #0056b3;
}

.admin-login-container p {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
