.aregistration-container {
  padding: 20px;
  font-family: Arial;
  margin-bottom: 30px;
}

.search-input {
  padding: 8px;
  margin-bottom: 20px;
  width: 250px;
  font-size: 14px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}


.user-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  background-color: white;
  color: black;
}
.user-table th{
    background-color: red;
}

.delete-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c9302c;
}
