

.admin-chat-container {
  display: flex;
  height: calc(100vh - 60px);
  width: 600px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f2f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

} 



.user-list {
 
  width: 350px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
}

.user-list h4 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  /* position: fixed;
  background-color: pink; */
}

.user-item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 8px;
  transition: background 0.3s ease;
  color: #111;
  background-color: #e9edef;
}



.user-item:hover,
.user-item.active {
  background-color: #d9fdd3;
}

.chat-box {
  width: 62%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #efeae2;
}

.chat-box h3 {
  padding: 10px 20px;
  background-color: #075e54;
  color: white;
  margin: 0;
  font-size: 20px;
}

.chat-history {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #efeae2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-msg {
  align-self: flex-end;
  background-color: #dcf8c6;
  padding: 10px 15px;
  border-radius: 20px 20px 0 20px;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
  font-size: 14px;
  color: #000;
}

.user-msg {
  align-self: flex-start;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 0;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
  font-size: 14px;
  color: #000;
}

.admin-msg span,
.user-msg span {
  display: block;
  font-size: 10px;
  text-align: right;
  color: #666;
  margin-top: 4px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f0f2f5;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  outline: none;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #128c7e;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.chat-input button:hover {
  background-color: #075e54;
}


.unread-badge {
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
  margin-left: 8px;
}


