
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fc;
  overflow: hidden;
}


.dashboard-wrapper {
  display: flex;
  /* flex-direction: column; */
  /* height: 100vh; */
  /* overflow: hidden; */
    min-height: 100vh;
}

.dashboard-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #0a0ef1;
  background: linear-gradient(to right, #8000ff, #c600ff);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  gap: 16px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.Dashboard-button {
  margin-left: 20px;
  color: white;
  padding-right: 40px;
  background: none;
  padding: 0;

  border: none;
  text-decoration: none;
  border-radius: 0;
  font-size: 18px;
}
.dashboard-content {
  flex: 1;
  padding: 20px;
  background: #ecf0f1;
  
}


.chat-popup {
  position: fixed;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 502px;
  background-color: #ffffff;
  
} 