
.footer-body {
  background: linear-gradient(to right, #8000ff, #c600ff);
 
  color: white;
  text-align: center;
  
  font-size: 15px;
  margin-top: auto; 
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
padding-bottom: 0px;
}


.footer-container {
  margin: auto;
  height: 200px;
  width: 100%;
}


.footer-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: black;
}


.footer-tagline {
  margin-bottom: 20px;
  font-style: italic;
  color: black;
}


.footer-links {
  margin-bottom: 15px;
}

.footer-link {
  margin: 0 10px;
  text-decoration: none;
  color:aqua;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
  
}

.footer-link:hover {
  background-color: #00ccff;
  color: #002244;
}


.footer-contact p {
  margin: 5px 0;

  color: black
}


@media (max-width: 600px) {
  .footer-link {
    display: block;
    margin: 8px auto;
  }

  .footer-contact p {
    font-size: 13px;
  }
}
