
 .login-split-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to right, #dfe9f3, #f5f0ff);
}

.login-left {
  flex: 1;
  background: linear-gradient(to bottom right, #c5dafe, #f3d3ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: left;
}

.login-left h2 {
  font-size: 32px;
  margin-top: 20px;
  color: #333;
}

.login-left ul {
  margin-top: 20px;
  color: #444;
  font-size: 16px;
  list-style: none;
  padding-left: 0;
}

.login-left li {
  margin-bottom: 10px;
}

.login-image {
  max-width: 350px;
  border-radius: 10px;
}

.login-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-box {
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  font-size: 28px;
  color: #222;
}

.login-box p {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8edff;
}

.forgot-text {
  text-align: right;
  font-size: 14px;
  color: purple;
  margin-top: 5px;
}

.login-box button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #8000ff, #c600ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.signup-text {
  margin-top: 10px;
  font-size: 14px;
}

.signup-text span {
  color: purple;
  font-weight: bold;
  cursor: pointer;
}

.login-message {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}


@media (max-width: 768px) {
  .login-split-container {
    flex-direction: column;
  }

  .login-left, .login-right {
    width: 100%;
    padding: 20px;
  }

  .login-box {
    max-width: 100%;
  }
}

.admin-login-text {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.admin-login-button {
  margin-top: 8px;
  padding: 6px 12px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-login-button:hover {
  background-color: #2c387e;
}


.spin {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
